<div class="page-container home">
{% include '@ibplc/imenux.html.twig' %}
<div>

    
<div class="ab-home-hero parbase">    
 {{ page.content }}
    <div class="home-hero">
        <div class="home-hero-inner">
          <div class="home-hero--logo-container">
          </div>
          <div class="home-hero--featured">
            {{ page.main_banner }}  
          </div>

        </div>
      </div>

   
</div>


    
    
    <div class="ab-homepage-grid"><div class="content-section empty-bg">
    <div class="content-section-inner">
        <div class="news-grid-home ">
            <div class="news-grid-home--header ">
                
            </div>  <div class="news-grid-home-inner">
                <div class="news-grid-home--card-row featured ab-slider" data-slider-options="">
                    

</div>
  
  
  
  

            </div>

        </div>
    </div>
</div>

</div>


</div>




		
{% include '@ibplc/ifooter.html.twig' %}
	</div>




<script type="text/javascript" src="assets/clientlib-base.js"></script>
<script type="text/javascript" src="assets/bootstrap.customized.js"></script>